~~~
Session.vim
.DS_Store
.cabal-sandbox
.stack-work
*~
*.aux
*.dvi
*.log
*.swp
*.synctex.gz
.#*
*.hi
*.o
*.cabal
*.json
TAGS
*.envrc
haskell/vsmt/dist/
dist-newstyle
~~~

auto/
*.html
*.Rhistory
*.prof
R/plots/*

~~~
*.shadow-cljs/*
node_modules
*.js*
.dir-locals.el
